
.footer {
    margin-top: 80px;
    position:relative;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 74px;
    background-color: #02153D;
    align-items: center;
    justify-content: space-between;
}
.social-media{
    margin-left: 50px;

}

.footer ul {
    list-style-type: none;
    float: right;
}
.footer li {
    font-weight: bold;
    display: inline;
    color: #ffffff;
    margin-right: 61px;
    font-size: 30px;
}

.footer-link:hover{
    color: #aec9e1;
}

.copyright {
    font-weight: bold;
    display: inline;
    color: #ffffff;
    margin-right: 61px;
    font-size: 16px;
}
.address{
    font-weight: bold;
    display: inline;
    color: #ffffff;
    margin-right: 61px;
    font-size: 16px;
}

